body {
    background-image:url('https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjJncTb4bflAhWZFjQIHUrLAuoQjRx6BAgBEAQ&url=https%3A%2F%2Fultimate-marvel-cinematic-universe.fandom.com%2Fwiki%2FNightcrawler&psig=AOvVaw0q5F6g4nxo7qzQoeWivll2&ust=1572104975110823');
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {

    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
